<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="Nlog.log">
  <targets>
    <!--target name="logfile" xsi:type="File" fileName="file.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" /-->
    <!-- 输出消息统一格式, 可以日志分析 -->
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}.log" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring}" />
    <target name="logconsole" xsi:type="Console" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring}" />
    <target name="log_file"
                xsi:type="File"
                fileName="${basedir}/LogInformation/${level}_${shortdate}.txt" />
    <target
          name="log_database"
          xsi:type="Database"
          dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
          connectionString="Server=数据库地址;Database=库名;User=用户;password=密码;charset=utf8;">
      <!--sqlserver数据库 connectionString="Data Source=.;Initial Catalog=数据库名;Persist Security Info=True;User ID=用户;Password=密码"-->
      <commandText>
        insert into log_info(
        project_name
        ,env
        ,level
        ,logger
        ,machine_name
        ,message
        ,app_domain
        ,assembly_version
        ,base_dir
        ,call_site
        ,call_site_line_number
        ,stacktrace
        ,exception_string
        ,log_date
        ) values ('XZMHui.Api','Development',@logLevel, @logger, @machinename,@message,@appdomain,@assemblyversion,@basedir,@callsite,@callsitelinenumber,@stacktrace,@exception,@date);
      </commandText>
      <parameter name="@logLevel" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=tostring}" />
      <parameter name="@appdomain" layout="${appdomain}" />
      <parameter name="@assemblyversion" layout="${assembly-version}" />
      <parameter name="@basedir" layout="${basedir}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@callsitelinenumber" layout="${callsite-linenumber}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      <parameter name="@date" layout="${date}" />
    </target>
  </targets>

  <rules>
    <!--Trace|Info|Debug|Warn|Error-->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="log_database" />
  </rules>
</nlog>